@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Mukta';
	font-size: 18px;
	white-space: normal;
	background-color: rgba(211, 228, 205, 0.4);
}
h1, h2, h3{
	font-family: 'Kaushan Script';
	font-weight: bold;
}


body{
	text-align: start;
	padding: 40px 0;
}

