.banner{
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%), url(../../images/plants-2.png);
	background-size: cover;
	padding: 100px 0;
	background-position: center;
	height: 250px;
}

.banner #text-white{
	color: white;
}

.banner #text-green{
	color: rgb(153, 167, 153);
}

.banner h1{
	font-size: 50px; 
}

.banner h2{
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 40px;
	opacity: 0.8; 
}